<form class="search-form" [formGroup]="myForm">

    <mat-form-field appearance="outline" class="searchBar">
      <input type="text" placeholder="Search.." matInput formControlName="q">
      <mat-icon matSuffix style="cursor: pointer" (click)="onSearchClick()">search</mat-icon>
    </mat-form-field>

    <div class="toggle">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="PRODUCTS">
        <mat-button-toggle #toggleProducts value="PRODUCTS" (change)="onToggleChange($event.value)">Products</mat-button-toggle>
        <mat-button-toggle value="PEOPLE" (change)="onToggleChange($event.value)">People</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

</form>
