mat-form-field.mat-form-field {
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
}

.searchBar{
  border-color: black;
  color: black;
}

mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rebeccapurple;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

.toggle{
  font-size: small;
  padding-buttom: 100px;
  cursor: pointer;
  margin-top: 9px;
}

mat-button-toggle {
  margin-buttom: 3px;
  /*width: 30px;*/
  /*height: 30px;*/
}

.mat-button-toggle-checked {
  /*border: 1px solid #c5c0c7;*/
  /*background-color: purple;*/
  color: white !important;
}

.mat-button-toggle-group.mat-button-toggle-group-appearance-standard{
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin-bottom: 0;
}

.search-form{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /*max-width: 700px !important;*/
  min-width: 700px;
  height: 100%;
}
