<div class="flex-container">
  <app-emoji [type]="'loved'" [imgPath]="'assets/svg/loved.svg'" [reactionCount]="2" [hoverColor]="'red'"></app-emoji>
  <app-emoji [type]="'hated'" [imgPath]="'assets/svg/poop.svg'" [reactionCount]="2" [hoverColor]="'brown'"></app-emoji>
  <app-emoji [type]="'interested'" [imgPath]="'assets/img/interested.jpg'" [reactionCount]="2" [hoverColor]="'yellow'"></app-emoji>
  <app-emoji [type]="'bought'" [imgPath]="'assets/img/bought.jpeg'" [reactionCount]="2" [hoverColor]="'green'"></app-emoji>
</div>
