<div class="user">
  <p class="feed" *ngIf="isFeed"><span class="feedBold">{{feedUserName}}</span>{{actionStr}}<span class="feedBold">{{user.fullName}}</span></p>
  <hr class="solid" *ngIf="isFeed">
  <div class="grid-container">
    <div class="item1">
        <img matListAvatar [src]="user.image" [alt]="user.image" class="followImage" (click)="onClickUser()">
    </div>
    <div class="item2">
      <p class="userName" (click)="onClickUser()">{{user.fullName}}</p>
      <p *ngIf="mutualFollowingUsersStr != null" class="mutualFollowingUsers">{{mutualFollowingUsersStr}}</p>
    </div>
    <div class="item3">
      <app-follow-button [user]="user"></app-follow-button>
    </div>
  </div>
</div>
