.product {
  background-color: white;
  width: 85%;
  height: 95%;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.item1 {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item2 { grid-area: description; padding-top: 10px}
.item3 {
  grid-area: followButton;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'image description description description description followButton'
    'image description description description description followButton'
    'image description description description description followButton';
  grid-gap: 10px;

}

.grid-container > div {
  text-align: left;
  font-size: 20px;
  max-width: 100%;
  max-height: 100%;
}

img.mat-list-avatar.followImage {
  margin-top: 8px;
  width: 70px;
  height: 70px;
}

.userName{
  font-size: medium;
  font-weight: bold;
}

.mutualFollowingUsers{
  font-size: small;
  color: gray;
}

hr.solid {
  border-top: 1px solid #bbb;
}
