
.emoji-container{
  width: 100%;
  position: relative;
  cursor: pointer;
  /*margin-top: 20px;*/
}

.reactionImage{
  /*padding-top: 5px;*/
  width: 29px;
  object-fit: contain;
}

.inline{
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

.clicked {
  font-size: 42px;
  width: 42px;
  height: 42px;
  line-height: 42px;
}

.unClicked {
  color: gray;
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
