<p class="numOfReactions" (click)="onClickNumOfReactions()">{{numOfReactions}} Reactions</p>
<div class="flex-container">
  <app-emoji [reactionType]="'loved'" (clickFather)="onClicked($event)" [reactionsStats]="reactionsStats"></app-emoji>
  <app-emoji [reactionType]="'hated'" (clickFather)="onClicked($event)" [reactionsStats]="reactionsStats"></app-emoji>
  <app-emoji [reactionType]="'interested'" (clickFather)="onClicked($event)" [reactionsStats]="reactionsStats"></app-emoji>
  <app-emoji [reactionType]="'bought'" (clickFather)="onClicked($event)" [reactionsStats]="reactionsStats"></app-emoji>
</div>
