.flex-container {
  display: flex;
  align-items: normal;
  justify-content: normal;
  height: 100%;
}

.flex-container > app-emoji {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.numOfReactions{
  line-height: 1px;
  font-size: small;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
