<div class="profile-header">

  <mat-list>
    <mat-list-item >
      <img matListAvatar [src]="user.image" [alt]="user.image" class="userImage" *ngIf="user != null">
    </mat-list-item>
  </mat-list>

  <div class="userDetails" *ngIf="user != null">
    <p class="fullName">{{user.fullName}}</p>
    <div class="numOfFollowersAndFollowings">
      <p class="followStat" *ngIf="user != null" (click)="onClickFollowers()"><span class="bold">{{user.numOfFollowers}}</span> followers</p>
      <p class="followStat" *ngIf="user != null" (click)="onClickFollowings()"><span class="bold">{{user.numOfFollowing}}</span> following</p>
    </div>
    <button mat-raised-button class="editProfileButton" *ngIf="isMyProfile">Edit Profile</button>
    <app-follow-button [user]="user" *ngIf="!isMyProfile"></app-follow-button>
  </div>

</div>

<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabClick($event)" *ngIf="user != null && (user.status === 'active' || isMyProfile)">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon [svgIcon]="'loved'" class="emoji"></mat-icon>
      Loved
    </ng-template>
    <app-products-list [products]="products" *ngIf="selectedType == 'loved'"></app-products-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon [svgIcon]="'hated'" class="emoji"></mat-icon>
      Hated
    </ng-template>
    <app-products-list [products]="products" *ngIf="selectedType == 'hated'"></app-products-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon [svgIcon]="'interested'" class="emoji"></mat-icon>
      Interested
    </ng-template>
    <app-products-list [products]="products" *ngIf="selectedType == 'interested'"></app-products-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon [svgIcon]="'bought'" class="emoji"></mat-icon>
      Bought
    </ng-template>
    <app-products-list [products]="products" *ngIf="selectedType == 'bought'"></app-products-list>
  </mat-tab>
</mat-tab-group>

<div *ngIf="user != null && (user.status != 'active' && !isMyProfile)" class="lockWrapper">
  <div class="lockIconWrapper">
    <mat-icon class="lockIcon">lock</mat-icon>
  </div>
  <div class="lockPWrapper">
    <p class="bold">This Account Is Private</p>
    <p>Follow this account to see their reactions</p>
  </div>
</div>
