.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 170px;
  margin-top: 20px;
}

img.mat-list-avatar.userImage{
  height: 150px;
  width: 150px;
  margin-top: 70px;
}

.fullName {
  font-size: x-large;
}

.userDetails {
  margin-top: 0px;
  margin-left: 80px;
}

.numOfFollowersAndFollowings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 12px;
}

.followStat{
  font-size: medium;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
  margin-right: 2px;
}

.editProfileButton {
  color: black;
  font-weight: bold;
}

.emoji {
  margin-right: 5px;
}

.lockWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.lockIconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lockIcon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.lockPWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 13px;
  padding-top: 10px;
  font-size: 20px;
}

