<div class="flex-container">
  <app-emoji [type]="'loved'" [imgPath]="'assets/svg/loved.svg'" [reactionCount]="productsReactionsClickedMap.loved.reactionCount" [hoverColor]="'red'" [onClickFather]="onClicked"></app-emoji>
  <app-emoji [type]="'hated'" [imgPath]="'assets/svg/poop.svg'" [reactionCount]="productsReactionsClickedMap.hated.reactionCount" [hoverColor]="'brown'" [onClickFather]="onClicked"></app-emoji>
  <app-emoji [type]="'interested'" [imgPath]="'assets/img/interested.jpg'" [reactionCount]="productsReactionsClickedMap.interested.reactionCount" [hoverColor]="'yellow'" [onClickFather]="onClicked"></app-emoji>
  <app-emoji [type]="'bought'" [imgPath]="'assets/img/bought.jpeg'" [reactionCount]="productsReactionsClickedMap.bought.reactionCount" [hoverColor]="'green'" [onClickFather]="onClicked"></app-emoji>
</div>
