.loginDiv{
  text-align: center;
}

.logo{
  margin-top: 70px;
  color: purple;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2px;
}

.subtitle{
  margin-top: 40px;
  text-align: center;
}

.imgRow{
  display: flex;
  justify-content: center;
  width: 100%;
}

img{
  margin: 40px;
  width: 170px;
  height: 100px;
}


.contact{
  text-align: center;
  margin-top: 200px;
}
