<div class="user">
    <div class="avatar">
      <img matListAvatar [src]="notification.senderImage" [alt]="notification.senderImage" class="followImage">
    </div>
    <div class="description">
      <p class="userName">{{notification.senderFullname}}</p>
      <p class="description">{{this.description}}</p>
    </div>
    <div class="followButton">
      <app-follow-button *ngIf="notification.type.toString() != 'confirmed'" [user]="{id: notification.senderId, fullName: notification.senderFullname, status: status}"></app-follow-button>
    </div>
</div>
