.notifyIcon{
  color: purple;
  margin-top: 5px;
  margin-right: 25px;
}

.notification-content {
  position: fixed;
  top: 65px;
  right: 50px;
  height: fit-content;
  width: fit-content;
  background-color: white;
  z-index: 300;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.notification-header {
  padding: 10px;
  color: black;
}

.notification-header .label {
  text-align: center;
  font-weight: 500;
}

.dirtyNotificationItem, .notDirtyNotificationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2f5;
  height: fit-content;
  width: 100%;
  color: black;
  cursor: pointer;
  margin-bottom: 5px;
}

.dirtyNotificationItem{
  background-color: white;
}

.notDirtyNotificationItem{
  background-color: #f1f2f5;
}

div.mat-list-item {
  width: 100%;
}



