.notifyIcon{
  color: purple;
  margin-top: 0px;
  margin-right: 25px;
}

.notification-content {
  position: fixed;
  top: 65px;
  right: 50px;
  height: fit-content;
  background-color: white;
  z-index: 300;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.notification-header {
  padding: 10px;
  color: black;
}

.notification-header .label {
  text-align: center;
  font-weight: 500;
}

.notificationItem {
  height: fit-content;
  width: fit-content;
  color: black;
  cursor: pointer;
}
