<mat-list style="height: 100%; width: 100%">



  <mat-list-item *ngFor="let action of actions" class="{{action.actionType.toString() == 'follow' ? 'userFeed' :  'productFeed'}}">
    <app-user *ngIf="action.actionType.toString() == 'follow'" [user]="action.details" [isFeed]="true" [action]="action" style="width: 100%; height: 100%"></app-user>
    <app-product *ngIf="action.actionType.toString() == 'reaction'" [product]="action.details" [isFeed]="true" [action]="action" style="width: 100%; height: 100%"></app-product>
  </mat-list-item>

  <div class="nothingToShowWrapper">
    <h2>You Are Up To Date!</h2>
    <p class="nothingToShowP">Try follow other users for better Woogie experience!</p>
    <img class="owlImg" src='../../../../../assets/img/woogie_owl.png' >
  </div>

  <div [ngStyle]="{height: '125px'}"></div>

</mat-list>

