<mat-list style="height: 100%; width: 100%">
  <mat-list-item *ngFor="let action of actions" class="{{action.actionType.toString() == 'follow' ? 'userFeed' :  'productFeed'}}">
    <app-user *ngIf="action.actionType.toString() == 'follow'" [user]="action.details" [isFeed]="true" style="width: 100%; height: 100%"></app-user>
    <app-product *ngIf="action.actionType.toString() == 'reaction'" [product]="action.details" style="width: 100%; height: 100%"></app-product>
  </mat-list-item>
</mat-list>
