h2{
  color: black;
}

button{
  color: #001e99;
}

.userWithoutFeed{
  height: 90px;
  margin-bottom: 20px;
}

.reactionsDialog .mat-dialog-container{
  background-color: #f1f2f5;
}

::ng-deep .mat-dialog-container {
  background-color: #f1f2f5;
}
