<div class="iconDiv">
  <button  class="filterButton" mat-icon-button aria-label="Example icon-button with a menu" (click)="onAnimate()">
    <mat-icon class="filterIcon">filter_alt</mat-icon>
  </button>
</div>

<div [@filtersAnimation]="state" (@filtersAnimation.done)="animationDone($event)" (@filtersAnimation.start)="animationStart($event)">
<h4>Sort & Filters</h4>

<form [formGroup]="myForm" *ngIf="filters">

  <mat-form-field appearance="fill">
    <mat-label>Sort</mat-label>
    <mat-select name="sort" formControlName="sort">
      <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
        {{sort.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Condition</mat-label>
    <mat-select name="condition" formControlName="conditions">
      <mat-option *ngFor="let condition of conditionOptions" [value]="condition.value">
        {{condition.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="priceRange">
    <span>Price: </span>
    <mat-form-field appearance="outline" class="priceInput">
      <input type="number" onkeydown="return event.keyCode !== 69" placeholder="Min" matInput (input)="onMinPriceChanged($event)" >
    </mat-form-field>
    -
    <mat-form-field appearance="outline" class="priceInput">
      <input type="number" onkeydown="return event.keyCode !== 69" placeholder="Max" matInput (input)="onMaxPriceChanged($event)">
    </mat-form-field>
  </div>

  <mat-slide-toggle formControlName="freeShipping">Free Shipping</mat-slide-toggle>

</form>
</div>
